:root {
  font: 18px/1.6 'Inter', system-ui, sans-serif;
  letter-spacing: -0.011em;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  transition:
    color 0.2s ease,
    background 0.2s ease;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

nav li {
  display: block;
}

nav a {
  font-size: 1.5em;
}

#change-theme-button {
  width: max-content;
  margin: 0;
}

.filtration-block, .add-product-form {
  margin: 0 0 2em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.filtration-block input[type="number"] {
  width: 8em;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 0.3em;
}



.product-cards-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1em;
}



#order-button, #go-back-button {
  margin: 2em auto 1em;
  width: calc(33% - 0.5em);
}

#add-product-button {
  margin: 1em 0 1em;
  width: calc(33% - 0.5em);
}



.footer {
  padding: 1em 1em;
  text-align: center;
}